# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDE
.vscode/
.idea/

# Env
.env

# Build
dist/
build/

# Media (videos often large) - remove if you want to version videos
assets/video/
